<html>
  <body>
    <!--Recent Work-->
    <div id = "project" class="container">
      <div class="row">
        <!--UCIfitness-->
        <figure routerLink="/fitness" class="col-sm-5">
          <img style="width: 100px;" src="../../assets/img/fitness_home.png" />
          <figcaption>
            <h3>UCI Fitness mobile application</h3>
            <p>Provide fitness advice for UCI students</p>
          </figcaption>
        </figure>
        <!--Sleep Tracker-->
        <figure routerLink="/fitness" class="col-sm-5">
          <img style="width: 100px;" src="../../assets/img/fitness_home.png" />
          <figcaption>
            <h3>UCI Fitness mobile application</h3>
            <p>Provide fitness advice for UCI students</p>
          </figcaption>
        </figure>
        <!--Sticker-->
        <figure routerLink="/fitness" class="col-sm-5">
          <img style="width: 100px;" src="../../assets/img/fitness_home.png" />
          <figcaption>
            <h3>UCI Fitness mobile application</h3>
            <p>Provide fitness advice for UCI students</p>
          </figcaption>
        </figure>
        <!--chocoshop-->
        <figure routerLink="/fitness" class="col-sm-5">
          <img style="width: 100px;" src="../../assets/img/fitness_home.png" />
          <figcaption>
            <h3>UCI Fitness mobile application</h3>
            <p>Provide fitness advice for UCI students</p>
          </figcaption>
        </figure>

      </div>
    </div>
  </body>
</html>
