
.navbar {
  background-color:black;
  padding:1% 0;
  font-size:15px;
  text-align: center;
  position: fixed;
}

.navbar-default .navbar-nav li a{
  color: whitesmoke !important;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active{
  color:rgb(247, 227, 113) !important;
}

.icon-bar{
  background-color: azure;
}
