
h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}
body{
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;

}


nav ul li{
  display: inline-block;
  padding:10px

}
nav{
  background: rgba(255,255,255,0.8);
  text-align: center;
  position:sticky;
  padding: 10px;
}

blockquote{
  background: rgba(220,220,220,0.4);
  border-left-color: #9a9a9a;
  border-bottom-color: #000;
  border-width: 0.5em;
  padding: 1em;
  margin: 1.5em 0 2em;
  font-size: 1.0rem;
  color: #4a4a4a;
  font-weight: 400;
  border-left: 1px solid #cacaca;
  display: block;

}
