<html>
  <nav class="stick">
    <a routerLink="/home" class="breadcrumb"
      ><i class="fi-arrow-left"> Back to Recent Work</i></a
    >
    <ul>
      <li><a href="#overview"></a>Overview</li>
      <li><a href="#overview"></a>Goal</li>
      <li><a href="#overview"></a>Solution</li>
      <li><a href="#overview"></a>Result</li>
    </ul>
  </nav>
  <body>
    <h1>UCI Fitness mobile application</h1>

    <img src="../../assets/img/fitness4.png" style="width: 200px;" />

    <div class="container">
      <h2>Project Definition</h2>
      <blockquote>
        The app targets UCI students who barely have any fitness knowledge, so
        we provide them free personalized professional advice based on students’
        individual physical conditions.
      </blockquote>
      <div class="row">
        <div class="col-sm-6">
          <h3>Problem</h3>
          <p>
            In 2016, a research carried out by US News and World Report showed
            that the University of California, Irvine (UCI) students are the top
            five percent university students who have the fewest sleeping time.
            Staying up until late night and sitting in front of their computers
            the whole day without sufficient exercise causes many health
            problems and worries. Many UCI students are willing to change their
            current situation. They want to improve their physical health but
            are hindered by the steep learning curve of professional exercising.
            Additionally, most college students cannot afford the price of
            hiring a gym trainer to provide personalized help. Worse even,
            similar applications on the market usually charge membership fees.
          </p>
        </div>
        <div class="col-sm-6">
          <h3>Team challenges</h3>
          <p></p>
        </div>
      </div>
    </div>
  </body>
</html>
