html,body {
  height:100%;
  width:100%;
  text-align: center;
}
*{
  font-family:'Libre Baskerville', sans-serif;
}


#page{
  background: white;
  height: 100%;
  background-size: cover;
  text-align: center;
}
#page img{
  margin-left:auto;
  margin-right:auto;
  width: 30%;
  border-radius: 50%;
}

h1{
  font-size:400%;
  font-weight: 700;
  color:black;
}
#page p{
  font-size:200%;
}

.padding {
  padding:120px 0;
  background-color:white;
}

.padding img{
  width:100%;
}

.padding h2{
  color:orange;
}
.padding p,.padding h4,.padding h5{
  color:grey;
  font-size:140%;
}

#experience h2{
  color:orange;
  font-size:190%;
}
#experience h3{
  color:grey;
  font-size: 150%;
}
footer{
  width:100%;
  background-color:black;
  padding: 50px 0;
  color:white;
}
footer h2{
  color:white;
}



.fa{
  font-size:30px;
  padding:20px;
  color:white !important;
}



h3{
  font-size: 30px;
}
