<!DOCTYPE html>
<!--Written by: Siyun Ji-->
<!--Email:siyunj1@uci.edu-->
<html lang = "en">

    <body>

        <div class="padding" id="page">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">

                            <h1>Hello, I'm Siyun</h1>
                            <p>User Experience, Design, Software Engineer </p>
                        </div>
                    </div>
            </div>
        </div>




            <footer class="container-fluid text-center">
                <div class="col-sm-12">
                    <h2>Connect</h2>
                    <a href="https://www.facebook.com/siyun.ji" class="fa fa-facebook fa-2x" target="_blank" title="my facebook page"></a>
                    <a href="https://www.linkedin.com/in/siyun-ji-825b54160/?locale=zh_TW" class="fa fa-linkedin fa-2x" target="_blank" title="my linkedin page"></a>
                </div>

            </footer>
    </body>
</html>
